name: integration tests

on:
  workflow_call:
  pull_request:
  schedule:
    - cron:  '0 12 * * 3'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: python3 -m pip install tox
      - name: Run linters
        run: tox -e lint

  integration-backend:
    name: Integration tests for backend relation
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          lxd-channel: 5.4/stable
      - name: Run integration tests
        run: tox -e backend-integration

  integration-legacy-relations:
    name: Integration tests for legacy relations
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          lxd-channel: 5.4/stable
      - name: Run integration tests
        run: tox -e legacy-relation-integration

  integration-bundle:
    name: Bundle-specific integration tests
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          lxd-channel: 5.4/stable
      - name: Run integration tests
        run: tox -e bundle-integration

  integration-tls:
    name: Integration tests for TLS.
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          lxd-channel: 5.4/stable
      - name: Run integration tests
        run: tox -e tls-integration
